<div id="welcome"></div>
<h1>Welcome to Fantasy Sports Draft<h1>
<div class="waves-effect waves-light btn"><%= link_to 'Login', '/login' %></div>
<div class="waves-effect waves-light btn"><%= link_to 'Register', '/signup' %></div>

<div id="content"></div>
<div id="content2"></div>
