<!DOCTYPE html>
<html>
<head>
  <title>PassionProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <%= javascript_include_tag 'application' %>

</head>
<body>
<div id='yield' class="container">
<%= yield %>
</div>
 <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> -->

</body>
</html>
